<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="resources/theme/css/index.css"/> 	
	<link rel="stylesheet" href="resources/theme/css/home.css"/>

<title>Insert title here</title>
</head>
<body>
<div class="container dad" style="width: 100%; padding: 0;">
    <div class="row" style="float: right;">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div onclick="location.href='#/login';" class="grow vertical-tab-1">
					<p class="tab-title"></p> 
					<p class="rotate">Log in</p>
				</div>
				<div onclick="location.href='#/signup';" class="grow vertical-tab-2">
					<p class="tab-title"></p> 
					<p class="rotate">Sign up</p>
				</div>
				<div class="grow vertical-tab-3">
					<p class="tab-title"></p> 
					<p class="rotate">About</p>
				</div>
				
				<div class="grow vertical-tab-4">
					<p class="tab-title"></p> 
					<p class="rotate">Contact</p>
				</div>
		</div>
	</div>
</div>

<div id="wrapper" >
        <div class="overlay"></div>
        
    
        <!-- Sidebar -->
        <nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
            	<li> 
            		<div class="sidebar-header header-cover" style="background-image: url(http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);background-size:cover;">
            		<img  style="width:75px;height:75px;margin:20px auto 10px 10px;" class="img-circle" src="resources/images/login-image.jpg">
            		</div>
            	</li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Team</a>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Follow me</a>
                </li>
            </ul>
           
            
        </nav>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="">
        <div>
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
    			<span class="hamb-middle"></span>
				<span class="hamb-bottom"></span>
            </button>
            </div>
            
        <!-- /#page-content-wrapper -->

    </div></div>

 <script src="resources/theme/js/index.js"></script>

     
</body>
</html>