<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link rel="stylesheet" href="resources/materialize/css/materialize.min.css"/> 
	<script src="resources/materialize/js/materialize.min.js"/></script>
<style>
body{
background:url(resources/images/689697.jpg);
background-size:cover;
background-repeat:no-repeat;
}
</style>
</head>
<body>
  
  <div class="row">
   <div ng-repeat="kin in aa">
   
   <div class="col s12 m4 l3">
  	<div class="card sticky-action hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator circle center-block"  src="resources/images/connectkincircle1.png">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{kin.name}}<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-action blue"><a ng-click="makeassistadmin(kin.id)"class="waves-effect waves-light btn red">Make Assist Admin</a></div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{kin.name}}<i class="material-icons right">close</i></span>
      <p>Post : {{kin.post}}</p>
      <p>Role : {{kin.role}}</p>
      <p>E-mail : {{kin.email}}</p>
      <p>Ph.No : {{kin.phoneno}}</p>
      <p>DoB : {{kin.dob}}</p>
      <p>Gender : {{kin.gender}}</p>    
    </div>
    </div>
    </div>
  </div>
	</div>  
</body>
</html>