<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<!-- jquery import -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	
	<!-- materialize css and material fonts import -->
	<link rel="stylesheet" href="resources/materialize/css/materialize.min.css"/> 
	<script src="resources/materialize/js/materialize.min.js"/></script>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
	<title>KinCircle</title>
	
	<style>
		/*navbar position*/
		.overlap{
			top: -60px;
			position: relative;}
			
		/*scrollbar style*/
		::-webkit-scrollbar-track{
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;}
		::-webkit-scrollbar{
			width: 6px;
			background-color: #F5F5F5;}
		::-webkit-scrollbar-thumb{
			background-color: #000000;}
	</style>	 
	
</head>
<body ng-app="myApp">

	<!-- menu for side nav -->
	<a style="margin:10px;" data-activates="slide-out" class=" button-collapse btn-floating waves-effect waves-light hoverable red"><i style="font-size:30px;" class="material-icons">menu</i></a>
	
	<!-- logout button on nav  hidden in small devices-->
	<a  style="margin:10px;" ng-show="currentUser.name" ng-click="logout()" class="hide-on-small-only btn-floating waves-effect waves-light hoverable right "><i style="font-size:30px;" class="material-icons">exit_to_app</i></a>
	
	<!-- navbar -->
	<nav class="overlap white hoverable">
		<div class="nav-wrapper container">
		
		<!-- brand name visible only on large devices -->
		<a href="#/" ng-hide="currentUser.name" class="brand-logo black-text hide-on-med-and-down">Connect Kin Circle</a>
		<!-- display name when logged in -->
		<a href="#/landingpage" ng-show="currentUser.name" class="brand-logo black-text hide-on-med-and-down">{{currentUser.name}}</a>
		
		<!-- links for chat, notification, pending requests and settings-->
		<ul class="right" >
			<li ng-show="currentUser.name" style="width:50px;"><a  data-activates="slide-t" onclick="Chat()" class="button-collaps black-text show-on-large"><i class="material-icons">chat</i></a></li>        
			<li ng-show="currentUser.name" style="width:50px;"><a  data-activates="slide-t" onclick="Notification()" class="button-collaps black-text show-on-large"><i class="material-icons">notifications</i></a></li>        
			<li ng-show="currentUser.name" style="width:50px;"><a  data-activates="slide-t" onclick="FriendRequest()" class="button-collaps black-text show-on-large"><i class="material-icons">people</i></a></li>        
			<li ng-show="currentUser.name" style="width:50px;"><a  data-activates="slide-t" onclick="Settings()" class="button-collaps black-text show-on-large"><i class="material-icons">settings</i></a></li>        
		</ul>
		
		</div>
	</nav> <!-- end of navbar -->
	
	<!-- slideout code for menu button -->
	<ul id="slide-out" class="side-nav">
		<li>
			<div class="userView"><div class="background" style="background-image: url(resources/images/sideback.png);background-size:cover;"></div>
			<div>
				<img class="circle center-block" style="height:100px;width:100px;" ng-hide="currentUser.name" src="resources/images/connectkincircle1.png">
				<img class="circle center-block" style="height:100px;width:100px;" ng-show="currentUser.name" src="resources/dp/{{currentUser.name}}">
				<p ng-hide="currentUser.name">Copyrights 2017</p>
				<span ng-show="currentUser.name"class="white-text name">{{currentUser.name}}</span>
				<span ng-show="currentUser.name"class="white-text email">{{currentUser.post}}</span></div>
			</div>
		</li>
		<li ng-show="currentUser.name" ><a href="#/blog" class="waves-effect waves-light ">Blog</a></li>	
		<li ng-show="currentUser.name" ><a href="#/calendar" class="waves-effect waves-light ">Calendar</a></li>	
		<li ng-show="currentUser.name" ><a href="#/events" class="waves-effect waves-light ">Events</a></li>					
		<li ng-show="currentUser.name" ><a href="#/searchjob" class="waves-effect waves-light ">Job Search</a></li>
		<li ng-show="currentUser.name" ><a href="#/chat" class="waves-effect waves-light ">Chat</a></li>					
		<li ng-show="currentUser.name" ><a href="#/searchkin" class="waves-effect waves-light">Search Kin</a></li>
		<li ng-show="currentUser.role=='admin'" ><a href="#/adminfunctions" class="waves-effect waves-light">Admin functions</a></li>
		<li><div class="divider"></div></li>
		<li><a class="subheader">personal</a></li>
		<li ng-show="currentUser.name" ><a href="#/appliedjob" class="waves-effect waves-light ">Applied Job</a></li>
		<li ng-show="currentUser.name" ><a href="#/kinconnects" class="waves-effect waves-light">Kin Connections</a></li>
		<li ng-show="currentUser.name" ><a href="#/pendingrequest" class="waves-effect waves-light">Pending Requests</a></li>		
		<li><div class="divider"></div></li>
		<li ng-show="currentUser.name"><a class="waves-effect" ng-click="logout()"><i class="material-icons">exit_to_app</i><span>logout</span></a></li>
	</ul>
	
	<!-- slideout for chat, notification, pending request and settings -->
	<div id="slide-t" class="side-nav">
	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a href="#chat" class="black-text show-on-large"><i class="material-icons">chat</i></a></li>
				<li class="tab col s3"><a href="#notification" class=" black-text show-on-large"><i class="material-icons">notifications</i></a></li>
				<li class="tab col s3"><a href="#friendrequest" class=" black-text show-on-large"><i class="material-icons">people</i></a></li>
				<li class="tab col s3"><a href="#settings" class="black-text show-on-large"><i class="material-icons">settings</i></a></li>
			</ul>
		</div>
		
		<div id="chat" class="col s12 ">
			<div class="row container">
      <form ng-submit="addMessage()" name="messageForm">
        <input type="text" placeholder="Compose a new message..." ng-model="message" />
        <div class="info">
          <span class="count" ng-bind="max - message.length" ng-class="{danger: message.length > max}">140</span>
          <button ng-disabled="message.length > max || message.length === 0">Send</button>
        </div>
      </form>
      <hr />
      <p ng-repeat="message in messages | orderBy:'time':true" class="message">
        <time>{{message.time | date:'HH:mm'}}</time>
        <span ng-class="{self: message.self}">{{message.message}}</span>
      </p>
</div>
		</div>
		<div id="notification" class="col s12 ">
			<div ng-repeat="n in notify">
				
				<img class="col s4 responsive-img" src="resources/dp/{{n.fromkin}}">
				<span class="col s8">
				{{n.notifiy}}<br>
				</span>
				<div class="divider col s12"></div>
			</div>
		</div>
		<div id="friendrequest" class="col s12 ">
		<div ng-repeat="pr in prs">
			
				<img class="col s4 responsive-img" src="resources/dp/{{pr.name}}">
				<span class="col s8">{{pr.name}}<br>
				Post : {{pr.post}}<br>
				Role : {{pr.role}}<br>
				</span>
		<div class="divider col s12"></div>
		</div>
		</div>
		<div id="settings" class="col s12">
			<ul>
				<li ng-show="currentUser.name" ><a href="#/uploadpicture" class="waves-effect waves-light ">Upload Picture</a></li>
			</ul>		
		</div>
	</div>
	</div> 
	
	<!-- ng-view complements the $route service-->
	<div ng-view></div>      

<script>
$(document).ready(function(){
	
	//jquery initialization for tabs 
	 $('ul.tabs').tabs();
	
	//jquery initialization for sidenav menu
	$(".button-collapse").sideNav({
	 closeOnClick: true, //sidenav closes on click of link
	 edge: 'left', //opens from left side
     draggable: true // enables swipe for touch screens
	 });
	
	//jquery initialization for second side nav
	$('.button-collaps').sideNav({
    edge: 'right', //opens from right side
    draggable: true // enables swipe for touch screens
    });
	
	//jquery initialization for dropdown if exists
	$('.collapsible').collapsible();     
	
	});
	
	//functions for selection of respective tabs on sidenav on activation of second sidenav
	function Notification() {$('ul.tabs').tabs('select_tab', 'notification');}
	function Chat() {$('ul.tabs').tabs('select_tab', 'chat');}
	function Settings() {$('ul.tabs').tabs('select_tab', 'settings');}
	function FriendRequest() {$('ul.tabs').tabs('select_tab', 'friendrequest');}
</script>
<!-- angularjs import -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-resource.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.1/sockjs.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script> 
<!-- config, controllers and service imports -->
<script src="angularjs/app.js"></script>
<script src="angularjs/kincontroller.js"></script>
<script src="angularjs/kinservice.js"></script>
<script src="angularjs/kicontroller.js"></script>
<script src="angularjs/kiservice.js"></script>
<script src="angularjs/admincontroller.js"></script>
<script src="angularjs/adminservice.js"></script>
<script src="angularjs/jobcontroller.js"></script>
<script src="angularjs/jobservice.js"></script>
<script src="angularjs/connectcontroller.js"></script>
<script src="angularjs/connectservice.js"></script>
<script src="angularjs/blogcontroller.js"></script>
<script src="angularjs/blogservice.js"></script>  
<script src="angularjs/blogdetailcontroller.js"></script>
<script src="angularjs/eventcontroller.js"></script>
<script src="angularjs/eventservice.js"></script>  
<script src="angularjs/chatcontroller.js"></script>
<script src="angularjs/chatservice.js"></script> 
<script src="angularjs/calendarcontroller.js"></script>
<script src="angularjs/calendarservice.js"></script>      
</body>
</html>